<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>

    <link rel="stylesheet" href="./static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="wrapper">
    <nav class="navbar">
        <a href="../generate">
            <img src="static/logo.png" width="60px" height="60px"></a>
            <div class="link-container">
                <a href="../generate" class="nav-link">Генерация</a>
                <a href="#" class="nav-link">Холодильник</a>
            </div>
        </nav>
    <main class="main-content">
        <div class="content">
            <div id="cookieContent">
            </div>
        </div>

    </main>
</div>
<footer>
    <div class="footer-bottom">
        <p>&copy; 2024 Все права защищены | Ваш сайт с рецептами</p>
    </div>
</footer>
<script src="static/test.js"></script>
</body>

</html>