<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рецепт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">
</head>

<body>

<div class="wrapper">
    <nav class="navbar">
        <a href="../generate">
            <img src="/static/logo.png" height="60px" width="60px"></a>
        <div class="link-container">
            <a href="../generate" class="nav-link">Генерация</a>
            <a href="../test" class="nav-link">Холодильник</a>
        </div>
    </nav>
    <main class="main-content">
        <div class="content-card">
            <div class="big-card">
                <h2 class="card-heading">{{header}}</h2>
                <div class="card-detail">
                    <div class="card-ingredients content">
                        {%for el in ingredients%}
                        <div class="ingredient">{{el.name}}: {{el.quantity}}</div>
                        {%endfor%}
                    </div>
                    {%for i in insts%}
                    <div class="card-description">{{i}}</div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </main>
</div>
<footer>
    &copy; 2024 Все права защищены | Ваш сайт с рецептами
</footer>

<script src="main/index.js"></script>

</body>

</html>