<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fridge page</title>
    <link rel="stylesheet" href="./static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav class="navbar">
           <img src="./static/imgs/logo.png" alt="Logo" class="logo" height="60" width="60">
            <div class="link-container">
                <a href="fridge.html" class="nav-link">Fridge</a>
                <a href="index.html" class="nav-link">Book</a>
                <a href="#" class="nav-link">Generation</a>
                <a href="#" class="nav-link">Smth</a>
            </div>
        </nav>
        <main class="fridge">
            <h2>Write the prompt</h2>
            <input type="text" placeholder="Prompt" class="prompt">
            <button type="submit" class="submit">Submit</button>
            <div id="output"></div>
        </main>
         <footer>
            <div class="footer-bottom">
                <p>&copy; 2024 Все права защищены | Ваш сайт с рецептами</p>
            </div>
        </footer>
    </div>
    <script src="static/test.js"></script>
</body>

</html>