<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Генерация</title>
    <link rel="stylesheet" href="./static/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <a href="#  ">
        <img src="./static/logo.png" alt="Logo" class="logo" height="60" width="60"></a>
    <div class="link-container">
        <a href="#" class="nav-link">Генерация</a>
        <a href="/test" class="nav-link">Холодильник</a>
    </div>
</nav>
<div class="wrapper">
    <main class="fridge">
        <h2>Введите ингредиенты</h2>
        <input type="text" placeholder="Запрос" class="prompt">
        <button type="submit" class="submit" id="submit">Отправить</button>

        <div id="output">
            <ul id="dishList" class="list"></ul>
        </div>
    </main>
</div>
<div id="loading" style="display:none; margin: 0 auto;"><img src="static/loading.gif" alt="" /></div>
<footer class="footer">

    &copy; 2024 Все права защищены | Ваш сайт с рецептами
</footer>
<script src="static/index.js"></script>
</body>
</html>
