<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/fridge.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav class="navbar">
    <img src="style/logo.png" alt="Logo" class="logo" height="60" width="60">
    <div class="link-container">
        <a href="fridge.html" class="nav-link">Fridge</a>
        <a href="index.html" class="nav-link">Book</a>
        <a href="#" class="nav-link">Generation</a>
        <a href="#" class="nav-link">Smth</a>
    </div>
</nav>
<main class="fridge">
    <h2>Write the prompt</h2>
    <input type="text" placeholder="Prompt" class="prompt">
    <button type="submit" class="submit" id="submit">Submit</button>
    <div id="output">
        <ul id="dishList" class="list">

        </ul>
    </div>
</main>
<script src="static/index.js"></script>
</body>
</html>
