<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='fridge.css') }}">
    <title>Recipes</title>
</head>
<body>

<div class="main-content">
    <h1 class="header">{{header}}</h1>
    <ul class="ingredients">
        {%for el in ingredients%}
        <li class="item-list">{{el.name}}: {{el.quantity}}</li>
        {%endfor%}
        {{insts}}
    </ul>
</div>
</body>
</html>